<!-- <div class="">
	<h3>Cart</h3>
	@for (product of cart(); track $index) {
	<div class="group rounded-lg border">
		<a href="#" class="w-full overflow-hidden rounded-t-lg bg-gray-200">
			<img [src]="product.img" [alt]="product.title"
				class="h-full w-full object-cover object-center group-hover:opacity-75">
		</a>
		<div class="flex flex-col space-y-2 p-4">
			<h3 class="text-sm text-gray-700">{{ product.title }}</h3>
			<p class="text-lg font-medium text-gray-900">{{ product.price }}</p>
			<button class="text-black bg-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 w-full"
				(click)="deleteProductFromCartTest($index)">Delete
				to cart</button>
		</div>
	</div>
	}
</div> -->

<app-header (eventDeleteProductFromCart)="deleteProductFromCart($event)"></app-header>


<div class="grid grid-cols-3 gap-8">
	@for (product of products(); track $index) {
	<app-product [product]="product" (addToCart)="addToCart($event)"></app-product>
	}
</div>